{
  "extends": [
    "airbnb",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "semi": ["error", "never"],
    "no-plusplus": "off",
    "no-unused-vars": "off",
    "no-restricted-syntax": "off",
    "no-undef": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "react/require-default-props": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "error"
  },
  "overrides": [
    {
      "files": ["{.storybook,src/__tests__}/**/*", "**/*.stories.{ts,tsx}"],
      "rules": {
        "import/no-extraneous-dependencies": "off",
        "react/prop-types": "off",
        "jsx-a11y/href-no-hash": "off",
        "jsx-a11y/accessible-emoji": "off",
        "jsx-a11y/alt-text": "off",
        "jsx-a11y/anchor-has-content": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "jsx-a11y/aria-activedescendant-has-tabindex": "off",
        "jsx-a11y/aria-props": "off",
        "jsx-a11y/aria-proptypes": "off",
        "jsx-a11y/aria-role": "off",
        "jsx-a11y/aria-unsupported-elements": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/heading-has-content": "off",
        "jsx-a11y/html-has-lang": "off",
        "jsx-a11y/iframe-has-title": "off",
        "jsx-a11y/img-redundant-alt": "off",
        "jsx-a11y/interactive-supports-focus": "off",
        "jsx-a11y/label-has-for": "off",
        "jsx-a11y/label-has-associated-control": "off",
        "jsx-a11y/media-has-caption": "off",
        "jsx-a11y/mouse-events-have-key-events": "off",
        "jsx-a11y/no-access-key": "off",
        "jsx-a11y/no-autofocus": "off",
        "jsx-a11y/no-distracting-elements": "off",
        "jsx-a11y/no-interactive-element-to-noninteractive-role": "off",
        "jsx-a11y/no-noninteractive-element-interactions": "off",
        "jsx-a11y/no-noninteractive-element-to-interactive-role": "off",
        "jsx-a11y/no-noninteractive-tabindex": "off",
        "jsx-a11y/no-onchange": "off",
        "jsx-a11y/no-redundant-roles": "off",
        "jsx-a11y/no-static-element-interactions": "off",
        "jsx-a11y/role-has-required-aria-props": "off",
        "jsx-a11y/role-supports-aria-props": "off",
        "jsx-a11y/scope": "off",
        "jsx-a11y/tabindex-no-positive": "off"
      }
    }
  ]
}
