{
  "extends": [
    "airbnb",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "semi": ["error", "never"],
    "import/no-unresolved": "off",
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off"
  }
}