name: build

on: [push]

jobs:
  run:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v3.0.1
      - uses: actions/setup-node@v3.1.1
        with:
          node-version: 16
          cache: yarn
      - run: yarn install
      - run: yarn build
      - run: yarn build-storybook
