name: publish

on:
  release:
    types: [created]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.2
      - uses: actions/setup-node@v3.6.0
        with:
          node-version: 16
          cache: yarn
      - run: yarn install
      - run: yarn test --bail --ci
      - run: yarn npm publish
        env:
          YARN_NPM_AUTH_TOKEN: ${{secrets.npm_token}}
