name: test

on:
  push:
    branches:
      - 'master'
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.6.0
      - uses: actions/setup-node@v4.0.0
        with:
          node-version: 20
          cache: yarn
      - run: yarn install
      - run: yarn test --bail --ci
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3.1.4
