name: test

on: [push]

jobs:
  run:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2.2.0
        with:
          node-version: 12
          cache: yarn
      - run: yarn install
      - run: yarn test --bail --ci
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.5.2
